/* ANIMAÇÃO DE BACKGROUND */
@-webkit-keyframes slidein {
    from { background-position: top; }
    to { background-position: -100px 0px; }
}
@keyframes slidein {
    from { background-position: top; }
    to { background-position: -100px 0px; }
}

.LoginPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    gap: 10vw;

    background: var(--colorMainPurple) url('/assets/main-site/Mapa.png') center center repeat fixed;
    background-size: 3500px;

    /* animação */
    -webkit-animation: slidein 50s infinite alternate forwards;
    animation: slidein 50s infinite alternate forwards;
    position: relative;
}

.LoginPage .logo {
    -webkit-filter: drop-shadow(0px 0px 60px #170e1b);
    filter: drop-shadow(0px 0px 60px #170e1b);
}

/* Degradê sobre o background */
.LoginPage::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    background: linear-gradient(to bottom, #1807299f, #29163d00);
    pointer-events: none;
}

/* Centraliza o conteúdo acima do degradê */
.LoginPage > * {
    position: relative;
    z-index: 1;
}

/* Ajuste para o container do logo e do card */
.LoginPage > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* CardLogin centralizado e com espaçamento */
.LoginPage .CardLogin {
    margin: 32px 0 0 0;
}

/* Responsivo */
@media (max-width: 800px) {
    .LoginPage {
        flex-direction: column;
    }
}