@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.cardPaisL {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 240px;
    height: 230px;
    padding: 16px;
    background-color: #25292F;
    border-radius: 16px;
    color: #FFFFFF;
}

.cardPaisL img {
    border-radius: 16px;
}

.cardPaisL h3 {
    font-size: 2.5rem;
    font-family: 'Bebas Neue', Arial, sans-serif;
    line-height: normal;
    margin-top: 12px;
}