.InfoPais {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    padding: 0;
}

.InfoPais .coluna {
    background-color: var(--colorDarkComponentBackground);
    padding: 0.6rem 0.75rem;
    color: var(--colorWhite);
    font-family: var(--fontText);
    font-size: 1.2rem;
    font-weight: 300;
}

.InfoPais:not(:last-child) {
    border-bottom: 1px solid var(--colorGrey);
}

.InfoPais .coluna.esquerda {
    font-weight: 600;
    background-color: var(--colorMainPurple); 
}