.BoxAvaliar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
}

.Avaliar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 212px;
    height: 134px;
    border-radius: 20px;
    gap: 6px;

    background-color: var(--colorMainComponentBackground);
}

.Avaliar .Title {
    width: 212px;
    height: 48px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0;
    margin-bottom: 10px;

    color: var(--colorWhite);
    background-color: var(--colorMainPurple);

    font-family: var(--fontTitle);
    font-weight: 400;
    font-size: 2rem;
}

.Avaliar .Estrelas {
    display: flex;
    gap: 4px;
}

.Avaliar .iconStar {
    width: 28px;
    height: 28px;
    stroke: var(--colorWhite);
    fill: none;
    cursor: pointer;
    transition: stroke 0.2s, transform 0.2s, fill 0.2s;
}

.Avaliar .iconStar.hovered {
    stroke: var(--colorHoverPurple);
    fill: var(--colorHoverPurple);
    transform: scale(1.2);
}

.Avaliar .iconStar.filled {
    stroke: var(--colorWhite);
    fill: var(--colorWhite);
}

.Avaliar .ButtonComentar {
    color: var(--colorHoverPurple);
    text-decoration: underline;
    cursor: pointer;
    
    font-family: var(--fontText);
    font-size: 1.2rem;
}

.Avaliar .ButtonComentar:hover {
    color: var(--colorHoverWhite);
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.04);
}

.BoxAvaliar .Avaliacoes {
    background-color: var(--colorMainComponentBackground);
    color: var(--colorHoverPurple);

    width: 212px;
    height: 38px;
    border-radius: 20px;
    text-align: center;

    font-family: var(--fontText);
    font-size: 1.2rem;

    cursor: pointer;
    transition: 0.2s;
}

.BoxAvaliar .Avaliacoes:hover {
    color: var(--colorHoverWhite);
    transform: scale(1.02);
}