.Empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    color: var(--colorGrey);
    font-family: var(--fontText);
    font-size: 24px;
}