.buttonMenu {
    background: none;         
    border: none;             
    font-size: 2rem;          
    color: #FFFFFF;             
    cursor: pointer;   
    transition: color 0.3s;  
    padding: 18px 0;  
    width: 100%; 
    font-family: 'Bebas Neue', Arial, sans-serif;        
    border-bottom: 1px solid #7D818E; 
}

.button-menu:last-child {
  border-bottom: none; /* Remove a linha do último botão */
}

.buttonMenu:hover,
.buttonMenu.active {
  color: #CEADFF; /* Roxo quando hover ou ativo */
}