.ButtonFavoritar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 0 18px;
    width: 212px;
    height: 72px;

    background-color: var(--colorMainComponentBackground);
    border-radius: 20px;
    color: var(--colorWhite);

    font-family: var(--fontTitle);
    font-weight: 400;
    font-size: 2rem;
}

.ButtonFavoritar .ButtonFavoritarHeart {
    background: none;
    border: none;
    cursor: pointer;
}

.ButtonFavoritar .iconHeart {
    width: 36px;
    height: 36px;
    stroke: var(--colorWhite);
    fill: none; /* sem preenchimento por padrão */
    transition: 0.3s;
}

.ButtonFavoritarHeart:hover .iconHeart {
    stroke: var(--colorHoverPurple);
    fill: var(--colorHoverPurple); /* preenchido quando favoritado */
    transform: scale(1.2);
}

.ButtonFavoritarHeart.active .iconHeart {
    stroke: var(--colorWhite);
    fill: var(--colorWhite); /* preenchido quando favoritado */
}