@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.cardPaisL {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 240px;
    height: 256px;
    padding: 16px;
    background-color: var(--colorBackground);
    border-radius: 16px;
    color: var(--colorWhite);
}

.cardPaisL img {
    border-radius: 16px;
    height: 140px;
    object-fit: cover;
}

.cardPaisL h3 {
    font-size: 3.5rem;
    font-family: var(--fontTitle);
    line-height: normal;
    margin-top: 12px;
}